<!DOCTYPE html>
<html>
    <body style="background-color:rgb(194, 230, 147)">
        <h1 style="color:maroon">AxonBlast</h1>
        <h2 style="color:black">Memory Reinforcement Suite</h2>
        </br>
        <img src="https://www.linkpicture.com/q/ab_logo.jpg" 
            type="image" alt=" company_logo"
            style="color:black"
            width="400" height="180">
        </br><br/><br/>
        <a style="color:black" href="/quiz">View Randomized Quiz</a>
        <br/>
        <a style="color:black" href="/all">View Full Question Bank</a>
    </body>
</html>